<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MiEscuelaDeInformatica</display-name>
  <welcome-file-list>
    <welcome-file>Welcome</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>servlet.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Java</servlet-name>
    <servlet-class>servlet.Java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Java</servlet-name>
    <url-pattern>/Java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sql</servlet-name>
    <servlet-class>servlet.Sql</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sql</servlet-name>
    <url-pattern>/Sql</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Css</servlet-name>
    <servlet-class>servlet.Css</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Css</servlet-name>
    <url-pattern>/Css</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>servlet.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registrar</servlet-name>
    <servlet-class>servlet.Registrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrar</servlet-name>
    <url-pattern>/Registrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AgregarUsuario</servlet-name>
    <servlet-class>servlet.AgregarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgregarUsuario</servlet-name>
    <url-pattern>/AgregarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Identificar</servlet-name>
    <servlet-class>servlet.Identificar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Identificar</servlet-name>
    <url-pattern>/Identificar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditarPerfil</servlet-name>
    <servlet-class>servlet.EditarPerfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarPerfil</servlet-name>
    <url-pattern>/EditarPerfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CerrarSesion</servlet-name>
    <servlet-class>servlet.CerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesion</servlet-name>
    <url-pattern>/CerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AceptarCambios</servlet-name>
    <servlet-class>servlet.AceptarCambios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AceptarCambios</servlet-name>
    <url-pattern>/AceptarCambios</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CorregirTest</servlet-name>
    <servlet-class>servlet.CorregirTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorregirTest</servlet-name>
    <url-pattern>/CorregirTest</url-pattern>
  </servlet-mapping>
</web-app>