<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MiEscuelaDeInformatica</display-name>
  <welcome-file-list>
    <welcome-file>Welcome</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>servlets.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Java</servlet-name>
    <servlet-class>servlets.Java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Java</servlet-name>
    <url-pattern>/JAVA</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sql</servlet-name>
    <servlet-class>servlets.Sql</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sql</servlet-name>
    <url-pattern>/SQL</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Css</servlet-name>
    <servlet-class>servlets.Css</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Css</servlet-name>
    <url-pattern>/CSS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>servlets.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registrar</servlet-name>
    <servlet-class>servlets.Registrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrar</servlet-name>
    <url-pattern>/Registrar</url-pattern>
  </servlet-mapping>
</web-app>