/* Creado por Rafael Velásquez
 */
/*
 * Estilos generales
 */
#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}
.javi{
	background-color: #058852 !important;
}
.negrita{
	font-weight: bold;
}

.panelBorde{
	border-color: #256c42 !important;
}

body, html{
    height: 100%;
 	background-color:#f5f7f8;
 	font-family:"Times New Roman", Times, serif;
	font-size: 1em;
	background-size: cover;
}
.login{
	padding: 1em 2em !important;
}
.login:hover{
	background-color:white;
	color: #9F9F9F;
}
.borde{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	border-radius: 4px!important;
	-moz-border-radius: 7px 24px 7px 24px;
	-webkit-border-radius: 7px 24px 7px 24px;
}
.cabecera{
	background-image:url(../img/fondoInicio.jpg);	
}
.piePagina{
	background-color:#000; 
	opacity:0.60; 
	color:white;
	margin-bottom:0.3em;
}

.barraLateral{
	background-color:#7d97a5;	
	/*hover#7d97a5*/
	/*oscuro #4d636f*/
}
i:hover {
	transform: scale(1.15) rotate(360deg);
	background-color:black;
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}